$body-color: blue;

* {
  padding: 0;
  margin: 0;
  // border: 1px solid blue;
  font-family: "Open Sans", sans-serif !important;
}

.row {
  margin-bottom: 0px;
}

body {
  color: $body-color;

  section.top {
    // height: 100vh;
    background: url("../../assets/back2.svg") no-repeat;
    background-size: cover;

    @media only screen and (max-width: 801px) {
      background: white;
    }

    nav {
      padding: 0 2vw;
      height: 10vh;

      .wrapper {
        a.brand-logo {
          font-size: 0;

          img {
            height: 8vh;
            width: auto;
            position: relative;
            top: 50%;
            // transform: translateY(-50%);
          }
        }
      }
    }

    main.container {
      @media only screen and (min-width: 993px) {
        width: 80%;
      }
    }

    main {
      height: 80vh;

      .col {
        height: 100%;

        .services {
          font-weight: 800;
        }
      }

      .col.left {
        @media only screen and (max-width: 801px) {
          width: 100%;

          .section {
            margin: 0;
          }
        }

        @media only screen and (max-width: 801px) and (min-width: 641px) {
          height: 50%;
        }
      }

      .col.right {
        @media only screen and (max-width: 801px) {
          display: none;
        }

        position: relative;

        .monitor {
          position: absolute;
          bottom: 0;
          left: 0;

          img {
            width: 100%;
          }
        }

        @media only screen and (max-width: 801px) and (min-width: 641px) and (orientation: portrait) {
          display: inline;
          height: 50%;
          width: 100%;

          .monitor {
            img {
              width: 50%;
              // min-width: 200px;
              float: right;
              // height: 50%;
            }
          }
        }
      }
    }

    footer {
      height: 10vh;
    }
  }

  section.about {
    min-height: 100vh;
    .top {
      height: 10vh;

      h1 {
        text-align: center;
        margin: 0;
        font-weight: 700;
      }
    }
    .wrapper {
      margin: 10vh auto;
      width: 100%;
    }
    .row > .first {
      margin-left: 10%;
      @media only screen and (max-width: 601px) {
        margin-left: 0;
      }
    }
    span.card-title {
      font-weight: 700;
    }
    // main {

    footer {
      height: 10vh;
    }
  }

  section.footer {
    background: linear-gradient(
      135deg,
      rgb(162, 33, 248) 0%,
      hsl(258, 100%, 50%) 100%
    );
    .card{
      width: 100%;
      .card-title{
        p{
          margin:10vh 0;
          font-size: 3em;
        }
      }
      p{

        text-align: center;
      }
    }

  }
}
